@mixin commonDiv() {
  background-color: white;
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 10px 15px;
}

.content {
  &__title {
    @include commonDiv();
  }

  &__category {
    @include commonDiv();

    &-list {
      padding-left: auto;
      padding-right: auto;
      margin-top: 20px;
      list-style-type: none;
      display: flex;
      align-items: start;
      justify-content: start;
      flex-wrap: wrap;
      gap: 30px;

      li {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        width: calc(100% / 6);

        div {
          img {
            width: 88px;
            height: 88px;
            border-radius: 50%;
            object-fit: cover;
            filter: brightness(1) invert(0.04);
          }
        }

        p {
          font-weight: 500;
          white-space: wrap;
          text-align: center
        }
      }
    }
  }

  &__filter {
    @include commonDiv();
  }

  &__products {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
