.search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #ddd;
  border-radius: 8px;
  color: #808089;
  height: 40px;
  position: relative;
  z-index: 1001;
  background-color: white;

  &__icon {
    padding-left: 20px;
    margin: 8px 8px 8px 0;
    font-size: 20px;
  }

  &__input {
    flex-grow: 1;

    input {
      width: 100%;
      border: 0px;
      border-right: 1px solid #ddd;
    }

    .focus {
      outline: none;
    }
  }

  &__button {
    &:hover {
      background-color: rgba(10, 104, 255, 0.2);
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
    }

    button {
      background-color: transparent;
      border: 0;
      color: #0a68ff;
      padding: 10px;
    }
  }
}

.search-mask {
  position: fixed;
  inset: 0;
  z-index: 1000;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.45);
  pointer-events: none;
  display: none;
}

.box-search {
  background-color: white;
  z-index: 1001;
  position: absolute;
  height: fit-content;
  width: 100%;
  display: none;
  box-shadow: rgba(0, 0, 0, 0.28) 0px 6px 12px 0px;
}
