.inner-wrap-phone {
  display: flex;
  align-items: center;
  height: 500px;

  .inner-content {
    width: 60%;
    padding: 30px 40px 0 40px;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .inner-form {
      height: fit-content;

      input {
        border: none;
        outline: none;
        border-bottom: 1px solid #ddd;
        font-size: 20px;

        &:focus {
          box-shadow: none;
        }
      }

      button {
        background-color: rgb(255, 66, 78);
        color: white;
        width: 100%;
        margin-top: 30px;
        margin-bottom: 20px;
        font-size: 20px;
        border-radius: 7px;

        &:hover {
          background-color: rgba(255, 66, 78, 0.8);
        }
      }

      .login-with-email {
        color: #0d5cb6;
        text-align: center;

        &:hover {
          cursor: pointer;
        }
      }
    }

    .inner-options {
      height: fit-content;
      margin-top: 50px;

      .inner-title {
        text-align: center;
        margin: 0px 0px 15px;
        position: relative;

        &::before {
          content: "";
          width: 100%;
          height: 1px;
          background: rgb(242, 242, 242);
          position: absolute;
          left: 0px;
          top: 50%;
          transform: translateY(-50%);
          z-index: 1;
        }
        h5 {
          font-size: 15px;
          color: rgb(120, 120, 120);
          display: inline-block;
          background: rgb(255, 255, 255);
          padding: 0px 20px;
          position: relative;
          z-index: 2;
        }
      }

      .inner-icons {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        margin-bottom: 10px;

        img {
          width: 58px;
          height: 58px;
        }
      }

      p {
        color: #787878;
        font-size: 12px;
      }
    }
  }

  .inner-decor {
    width: 40%;
    background: linear-gradient(
      136deg,
      rgb(240, 248, 255) -1%,
      rgb(219, 238, 255) 85%
    );
    height: 100%;
    position: relative;
    border-bottom-right-radius: 20px;

    .inner-decor-flex {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 20px;

      .inner-image {
        width: 100%;
        text-align: center;

        img {
          width: 203px;
          height: 203px;
        }
      }

      .inner-desc {
        color: #0d5cb6;
        text-align: center;
      }
    }
  }
}