.footer {
  background-color: white;
  padding: 10px;

  .section {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
    color: #808089;

    .list {
      display: flex;
      justify-content: space-between;
      gap: 10px;
      width: 100%;

      & > div {
        width: 20%;  
      }

      div:nth-child(3) .list-image {
        display: flex;
        align-items: center;
        gap: 10px;

        img {
          height: 32px;
          width: auto;
        }
      }

      div:nth-child(4) {
        .tikinow-image {
          height: 33px;
          margin-left: -9px;
        }
      }

      div:nth-child(5) {

        i {
          color: white
        }

        .facebook {
          background-color: rgb(59, 89, 152);
          height: 30px;
          width: 30px;
          padding: 10px;
          border-radius: 50%;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          margin-right: 10px;
          margin-bottom: 10px;
        }

        .youtube {
          display: inline-flex;
          align-items: center;
          justify-content: center;
          background-color: red;
          height: 30px;
          width: 30px;
          padding: 10px;
          border-radius: 50%;
        }

        .application {
          height: 80px;
          display: flex;
          align-items: center;
          gap: 10px;
          margin-top: 10px;
          

          img {
            height: 100%;
          }

          & > div {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;

            img {
              height: 48%;
            }
          }
        }
      }
    }
    p {
      font-size: 12px;
      margin: 0;
    }

    h6 {
      margin: 0;
    }

    ul {
      font-size: 12px;
      list-style-type: none;
      margin: 0;
      padding: 0;

      li {
        margin: 5px 0;
      }
    }

  }

  h5 {
    font-size: 16px;
    margin-bottom: 5px;
    color: #38383d;
  }
}
