header {
  background-color: white;
}

.header-1 {
  display: flex;
  align-items: center;
  margin: 5px 0;

  &__icon {
    padding-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      height: 40px;
      width: 96px;
      margin-bottom: 8px;
    }

    span {
      color: rgb(0, 62, 161);
      font-weight: 600;
    }
  }

  &__row1 {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    margin: 0;

    &__list {
      display: flex;
      justify-content: right;
      align-items: center;

      div:nth-child(1) {
        padding: 10px;
        color: rgb(10, 104, 255);
        font-weight: 600;
        display: flex;
        align-items: center;

        &:hover {
          background-color: rgba(0, 96, 255, 0.12);
          border-radius: 10px;
        }
      }

      div:nth-child(2) {
        padding: 10px;
        color: rgb(128, 128, 137);
        font-weight: 600;
        display: flex;
        align-items: center;

        &:hover {
          background-color: rgba(39, 39, 42, 0.12);
          cursor: pointer;
          border-radius: 10px;
        }
      }

      div:nth-child(3) {
        border: 1px solid #ddd;
        height: 20px;
        margin: 0 15px;
      }

      div:nth-child(4) {
        padding: 10px;

        .icon-cart {
          font-size: 20px;
          color: #0a68ff;
        }
      }
    }
  }

  &__row2 {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    margin: 5px 0;

    &__list a {
      text-decoration: none;
      color: #808089;
      margin-right: 10px;
      margin-top: 10px;
    }

    &__address {
      display: flex;
      align-items: center;
      justify-content: right;

      div {
        color: #808089;

        span {
          padding: 0px 5px;
        }
      }

      p {
        margin-bottom: 0;
        font-weight: bold;
        text-decoration: underline;
        margin-left: 0px;
      }
    }
  }
}

.header-2 {
  display: flex;
  align-items: center;
  justify-content: left;

  &__title {
    color: rgb(0, 62, 161);
    font-weight: 600;
    font-size: 14px;
    margin: 0;
  }

  &__list {
    list-style-type: none;
    display: flex;
    align-items: center;
    margin: 0;

    li {
      display: flex;
      align-items: center;
      justify-content: center;
      border-left: 1px solid #ddd;
      padding: 0px 15px;
      margin: 10px 0;

      &:first-child {
        border-left: 0;
      }

      img {
        width: 20px;
        height: 20px;
        margin-right: 5px;
      }

      span {
        color: #27272a;
        font-size: 12px;
      }
    }
  }
}
